@import url("https://fonts.googleapis.com/css2?family=Josefin+Sans:wght@100;200;300;400;500&display=swap");

body {
  font-family: "Josefin Sans", sans-serif;
  color: #d14f4f;
  font-size: 20px;
  background-color: #222222;
}
